{% extends "base.html" %}
{% block title %} Afficher FILMS {% endblock %}
{% block body %}
<div class="container">
	<div class="col-md-12">
		<table class="table table-responsive-sm">
            {% if data %}
				<thead>
					<tr>
						<th class="" >
						  Id rôle
						</th>
						<th class="" >
						  Grade
						</th>
						<th class="" >
						  Création du grade
						</th>
						<th class="" >
						  Utilisateur
						</th>
						<th class="" >
						  Création de l'utilisateur
						</th>
					</tr>
				</thead>
			{% endif %}
			{% for row in data %}
			<tbody>
				<tr>
					  <th class="align-middle">
						  {{ row.id_ranks }}
					  </th>
					  <th class="align-middle">
						{{ row.ranks }}
					  </th>
					  <th class="align-middle">
						{{ row.date_ranks}}
					  </th>
					  <th class="align-middle">
						{{ row.username|default("Pas d'utilisateur assigné", True) }}
					  </th>
					  <th class="align-middle">
						{{ row.creation_date|default("Non défini", True) }}
					  </th>
					  <th class="align-middle">
						<a class="btn btn-danger" href="" role="button">Delete</a>
					  </th>
                <tr>
						<td class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('edit_genre_film_selected', id_film_genres_edit_html=row.id_ranks) }}" role="button">Modifier</a>
						</td>
						<td class="align-middle" colspan="5">
							{{ row.GenresFilms|default("Pas d'utilisateur", True) }}
						</td>
				</tr>
            </tr>

			</tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('avertissement_sympa_pour_geeks') }}" role="button">Add</a>
						</td>
					</tr>

				</tbody>
			{% endfor %}

		</table>
	</div>
</div>
{% endblock %}
